.johnny-cache table {border-collapse: collapse;}
.johnny-cache select {margin: 20px 0}
.johnny-cache p {margin: 0 0 2px}
.johnny-cache .button {margin: 5px auto; display: block; width: auto;}
.johnny-cache td {vertical-align: top; padding: 5px; border-collapse: collapse; border: 2px solid #666}
.johnny-cache .td-blog-id, .johnny-cache .td-group {text-align: center}

#refresh-instance {display: none}